/* Main content container */
.main {
  margin-left: 250px; /* Adjust according to the width of your sidebar */
  margin-top: 60px; /* Adjust according to the height of your navbar */
  padding: 20px; /* Optional, for spacing */
  height: calc(100vh - 60px); /* Ensure main content takes up the remaining height */
  overflow-y: auto; /* Make sure the main content is scrollable if it overflows */
  box-sizing: border-box; /* Ensure padding is included in height calculation */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Card */
.card {
  width: 100%; /* Make the card take up the full width of its container */
  height: calc(100% - 20px); /* Make the card take up the full height minus padding */
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 0; /* Remove any additional margins */
  margin-top: 20px; /* Adjust top margin */
}

/* Styling for the main card header */
.card-header {
  text-align: center;
  margin-bottom: 20px;
}

/* Styling for the main card body */
.card-body {
  width: 100%;
  height: 100%; /* Ensure the card body takes up the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Table adjustments for full width */
.table {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 0;
}

body {
  margin: 0;
  background: #FAFAFA;
}

/* CSS alerts */
.alert-dismissible.fade.show {
  animation: slideInRight 0.5s forwards, slideOutRight 0.5s 2.5s forwards;
}

select option[selected] {
  display: none;
}
