/* Main content container */
.main {
  margin-left: 250px; /* Adjust according to the width of your sidebar */
  margin-top: 60px; /* Adjust according to the height of your navbar */
  padding: 20px; /* Optional, for spacing */
  height: calc(100vh - 60px); /* Ensure main content takes up the remaining height */
  overflow-y: auto; /* Make sure the main content is scrollable if it overflows */
  box-sizing: border-box; /* Ensure padding is included in height calculation */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Dashboard Card */
.dashboard-card {
  width: calc(100% - 300px); /* Adjust width to fit within the main content area */
  height: auto; /* Let the height adjust to the content */
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the card horizontally */
  margin-top: 20px; /* Optional: Add some top margin */
}

/* Order Card */
.order-card {
  color: #fff;
}

/* Background colors */
.bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg, #FFB64D, #ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg, #FF5370, #ff869a);
}

/* Card */
.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  min-height: 150px; /* Hauteur minimale */
  display: flex; /* Assurer un alignement correct du contenu des cartes */
  flex-direction: column;
  padding: 10px;
}

.card-block h6 {
  margin-bottom: 20px; /* Espace en dessous des titres */
}

.card-block h2 {
  margin-bottom: 20px; /* Espace en dessous du contenu principal */
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 40px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}





